.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Russo One", sans-serif;
    border: 1px solid var(--beige);
}

.leaflet-bar a {
    background-color: var(--dark);
    border-bottom: 1px dashed var(--kaki);
    display: flex;
    line-height: unset;
    justify-content: center;
    color: var(--light);
    transition: 0.5s;

    &:hover {
        background: var(--kaki);
    }
}