@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

:root {
  --bg-rgba: rgba(217, 217, 217, 0.5);
  --bg-rgba-dark: rgba(36, 36, 36, 0.6);
  --dark: #191919;
  --light: #d9d9d9;
  --pink: rgb(249, 52, 114);
  --pink-lighter: rgb(255, 127, 168);
  --pink-gradient: linear-gradient(90deg, rgb(255, 13, 90), rgb(255, 127, 168)), rgb(255, 13, 82);
  --shadow: 2px 2px 16px rgb(54, 54, 54);
}

* {
  box-sizing: border-box;
}

html {
  background: var(--dark);
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: normal;
  background: url("/src/assets/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--dark);
}

h1,
h2 {
  font-family: "Knewave", system-ui;
  font-weight: normal;
  margin: 0.5rem 0;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  background: var(--pink-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  text-align: center;
  color: var(--light);
  text-shadow: 2px 2px 5px var(--dark);
}

h3 {
  font-weight: 100;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: var(--pink-lighter);
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 30%;
  grid-template-areas:
    "jokes header"
    "jokes map"
    "music map"
    "music weather";
  background: linear-gradient(90deg, transparent, rgba(4, 5, 4, 0.8));
  padding: 5% 2%;
  gap: 2rem;
  position: relative;
}

header {
  text-align: center;

  img {
    width: min(200px, 60%);
  }
}

.widget {
  width: min(300px, 80%);
  margin: auto;
  border-radius: 0.6rem;
  border: 1px solid var(--pink-lighter);
  height: 90px;
}

#temperature-widget {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--bg-rgba-dark);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-size: cover;
  color: var(--light);
  padding: 0 0.4rem;
  box-shadow: var(--shadow);
  font-weight: 600;
  position: relative;

  img:not(.star) {
    aspect-ratio: 4/4;
    border-radius: 50%;
    max-width: 25%;
  }

  .star {
    height: 100%;
    max-width: unset;
    filter: drop-shadow(2px 2px 10px var(--dark));
  }

  .no-location-p {
    font-size: 0.8rem;
    padding: 0.8rem;
  }
}

#map {
  height: 200px;
  margin: auto auto 0 auto;
  background: url("../assets/images/map-bg.png");
  background-size: cover;
}

section {
  width: min(500px, 90vw);
  margin: 5% 2rem auto 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.6rem;

  button:not(.score-container button) {
    color: var(--dark);
    background: var(--pink);
    border-radius: 9px;
    box-shadow: var(--shadow);
    padding: 0.4rem 1rem;
    font-size: 1rem;
    width: max-content;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Knewave", system-ui;

    &:hover {
      background: var(--light);
    }
  }
}

#joke-container {
  padding: 1.5rem 2rem;
  background: var(--bg-rgba);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-size: 200% 200%;
  border: 1px solid var(--pink);
  box-shadow: var(--shadow);
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.5s;

  &:hover,
  &:focus-visible {
    transform: scale(1.03);
  }

  audio {
    width: 100%;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    background: linear-gradient(120deg, rgba(0, 128, 0, 0.4), rgba(255, 255, 0, 0.5), rgba(255, 0, 0, 0.4));

    &:active {
      background: pink;
    }
  }

  img {
    border-radius: 50%;
    max-width: 60px;
  }
}

.chuck {
  border: 1px solid var(--light);

  button:not(.score-container button) {
    background: var(--light);

    &:hover {
      color: var(--pink);
    }
  }
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.6s;
}

.score-container {
  color: inherit;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;

  button:hover,
  button:hover~button {
    color: var(--pink);
  }

  .edit {
    font-size: 0.8rem;
    pointer-events: none;
  }
}

.score-container.scored {
  flex-direction: row;
  justify-content: flex-end;
  color: var(--pink);
  opacity: 0.8;
}

@media only screen and (max-width: 850px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "jokes"
      "weather"
      "map"
      "music";
    background: linear-gradient(0deg, transparent, rgba(4, 5, 4, 0.8));
  }

  section {
    margin: auto;
  }

  .audio {
    padding: 0.4rem 1rem;
    background: var(--bg-rgba-dark);
    border: 1px solid var(--pink);
  }
}