@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Russo+One&display=swap');

:root {
  --bg: linear-gradient(-90deg, rgba(4, 5, 4, 0.3), transparent);
  --bg-header: linear-gradient(90deg, transparent, rgba(4, 5, 4, 0.8));
  --bg-rgba: rgba(4, 5, 4, 0.9);
  --dark: #191919;
  --light: #d9d9d9;
  --kaki: rgb(62, 66, 29);
  --beige: #b3a576;
  --yellow: #ffaa0d;
  --shadow: 2px 2px 16px black;
}


* {
  box-sizing: border-box;
}

html {
  background: var(--dark);
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: normal;
  background: var(--bg), url("/src/assets/images/background.png");
  background-size: cover;
  background-position: center;
  color: var(--light);
}

h1,
h2 {
  font-family: "Black Ops One", system-ui;
  font-weight: normal;
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

header {
  background: var(--bg-header);
  height: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;

  .header img {
    width: 60%;
  }
}

#temperature-widget {
  display: flex;
  gap: 2rem;
  border-radius: 0.6rem;
  background: url("../assets/images/widget.png");
  background-size: cover;
  color: var(--dark);
  border: 1px solid var(--kaki);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-family: "Russo One", sans-serif;
  padding: 1.5rem 2rem;
  width: max-content;
}

main {
  display: flex;
  gap: 2rem;
  margin: 2rem 2rem auto 2rem;
}

section {
  width: min(500px, 80vw);
  padding: 1.5rem 2rem;
  border-radius: 0.6rem;
  background: var(--bg-rgba) url("../assets/images/nav.png");
  background-size: 200% 200%;
  border: 4px solid var(--dark);
  box-shadow: var(--shadow);
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.6s;
}

.score-container {
  color: inherit;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;

  button:not(:disabled):hover,
  button:not(:disabled):hover~button {
    color: var(--yellow);
  }

  button:disabled {
    opacity: 0.5;
  }
}

#joke-button {
  color: var(--dark);
  border-radius: 9px;
  box-shadow: var(--shadow);
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-family: "Black Ops One", system-ui;
  width: max-content;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--beige);

  &:hover {
    background: var(--kaki);
    color: var(--light);
  }
}