@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Russo+One&display=swap');

:root {
  --bg: linear-gradient(-90deg, rgba(4, 5, 4, 0.3), transparent);
  --bg-header: linear-gradient(90deg, transparent, rgba(4, 5, 4, 0.8));
  --bg-rgba: rgba(4, 5, 4, 0.9);
  --dark: #191919;
  --light: #d9d9d9;
  --kaki: rgb(62, 66, 29);
  --beige: #b3a576;
  --yellow: #ffaa0d;
  --shadow: 2px 2px 16px black;
}


* {
  box-sizing: border-box;
}

html {
  background: var(--dark);
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: normal;
  background: var(--bg), url("/src/assets/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--light);
}

h1,
h2 {
  font-family: "Black Ops One", system-ui;
  font-weight: normal;
  margin: 0.5rem 0;
  text-shadow: 2px 2px 10px black;
}

h1 {
  font-size: clamp(1.6rem, 4vw, 2rem);
}

h2 {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

span {
  font-size: 0.8rem;
  margin-right: 5px;
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 30%;
  grid-template-areas:
    "jokes header"
    "jokes map"
    "jokes weather";
  background: var(--bg-header);
  padding: 5% 2%;
  gap: 2rem;
}

header {
  text-align: center;

  img {
    width: min(200px, 60%);
  }
}

#temperature-widget {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.6rem;
  background: url("../assets/images/widget.png");
  background-size: cover;
  color: var(--dark);
  border: 1px solid var(--beige);
  font-family: "Russo One", sans-serif;
  padding: 1rem 0.4rem;
  box-shadow: var(--shadow);

  img {
    aspect-ratio: 4/4;
    border-radius: 50%;
    max-width: 25%;
  }
}

#map {
  width: 80%;
  height: 200px;
  border-radius: 0.6rem;
  border: 1px solid var(--beige);
  margin: auto;
}

section {
  width: min(500px, 90vw);
  padding: 1.5rem 2rem;
  margin: 5% 2rem auto 2rem;
  border-radius: 0.6rem;
  background: var(--bg-rgba);
  background-size: 200% 200%;
  border: 4px solid var(--dark);
  outline: 1px solid var(--kaki);
  box-shadow: var(--shadow);
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chuck {
  background: var(--bg-rgba) url("../assets/images/nav.png");
  background-size: 200% 200%;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.6s;
}

.score-container {
  color: inherit;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;
  align-items: center;
  color: var(--beige);

  button:hover,
  button:hover~button {
    color: var(--yellow);
  }

  .edit {
    font-size: 0.8rem;
    pointer-events: none;
  }
}

.score-container.scored {
  flex-direction: row;
  justify-content: flex-end;
  color: var(--yellow);
  opacity: 0.8;
}

#joke-button {
  color: var(--dark);
  border-radius: 9px;
  box-shadow: var(--shadow);
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-family: "Black Ops One", system-ui;
  width: max-content;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--beige);

  &:hover {
    background: var(--kaki);
    color: var(--light);
  }
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "jokes"
      "weather"
      "map";
    background: unset;
  }

  section {
    margin: auto;
  }
}