@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Russo+One&display=swap');

:root {
  --bg: linear-gradient(-90deg, rgba(4, 5, 4, 0.3), transparent);
  --bg-header: linear-gradient(90deg, transparent, rgba(4, 5, 4, 0.8));
  --bg-rgba: rgba(4, 5, 4, 0.9);
  --dark: #191919;
  --light: #d9d9d9;
  --kaki: rgb(62, 66, 29);
  --beige: #b3a576;
  --yellow: #ffaa0d;
  --shadow: 2px 2px 16px black;
}


* {
  box-sizing: border-box;
}

html {
  background: var(--dark);
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: normal;
  background: var(--bg), url("/src/assets/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: var(--light);
}

h1,
h2 {
  font-family: "Black Ops One", system-ui;
  font-weight: normal;
  margin: 0.5rem 0;
  text-shadow: 2px 2px 10px black;
}

h1 {
  font-size: clamp(1.6rem, 4vw, 2rem);
}

h2 {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

header {
  background: var(--bg-header);
  min-height: 100dvh;
  width: 30%;
  padding: 5% 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;

  .header img {
    width: min(200px, 60%);
  }
}

#temperature-widget {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: min(300px, 80%);
  border-radius: 0.6rem;
  background: url("../assets/images/widget.png");
  background-size: cover;
  color: var(--dark);
  border: 1px solid var(--kaki);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-family: "Russo One", sans-serif;
  padding: 0.6rem 0;

  img {
    aspect-ratio: 4/4;
    border-radius: 50%;
    max-width: 25%;
  }
}

#cat-widget {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;

  img {
    width: 100%;
  }
}

main {
  display: flex;
  width: min(500px, 90vw);
  gap: 2rem;
  margin: 5% 2rem auto 2rem;
  border: 1px solid var(--kaki);
  border-radius: 0.6rem;
  box-shadow: var(--shadow);
}

section {
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 0.6rem;
  background: var(--bg-rgba);
  background-size: 200% 200%;
  border: 4px solid var(--dark);
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chuck {
  background: var(--bg-rgba) url("../assets/images/nav.png");
  background-size: 200% 200%;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.6s;
}

.score-container {
  color: inherit;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;

  button:not(:disabled):hover,
  button:not(:disabled):hover~button {
    color: var(--yellow);
  }

  button:disabled {
    opacity: 0.5;
  }
}

#joke-button {
  color: var(--dark);
  border-radius: 9px;
  box-shadow: var(--shadow);
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-family: "Black Ops One", system-ui;
  width: max-content;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--beige);

  &:hover {
    background: var(--kaki);
    color: var(--light);
  }
}

@media only screen and (max-width: 800px) {
  body {
    flex-direction: column;
    justify-content: center;
    padding: 10% 0;
  }

  header {
    width: 100%;
    min-height: unset;
    margin-bottom: auto;
    background: none;
  }

  main {
    margin: auto;
  }
}