@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Russo+One&display=swap');

:root {
  --bg: linear-gradient(150deg, rgba(0, 0, 0, 0.8), transparent);
  --bg-footer: linear-gradient(180deg, transparent, rgb(0, 0, 0));
  --dark: #191919;
  --light: #d9d9d9;
  --kaki: rgb(62, 66, 29);
  --yellow: #d48a02;
  --shadow: 2px 2px 16px black;
}


* {
  box-sizing: border-box;
}

html {
  background: var(--dark);
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: normal;
  background: url("/src/assets/images/background.png");
  background-size: cover;
  background-attachment: fixed;
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

section {
  width: min(600px, 80vw);
  padding: 2rem;
  border-radius: 0.6rem;
  background: #00000075;
  font-family: "Russo One", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  border: 0;
}

#score-container {
  align-self: end;
}

#joke-button {
  color: var(--dark);
  border-radius: 0.6rem;
  box-shadow: var(--shadow);
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  font-family: "Black Ops One", system-ui;
  width: max-content;
  align-self: end;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--yellow);
  transition: 0.6s;

  &:hover {
    background: var(--kaki);
    color: var(--light);
  }
}

footer {
  background: var(--bg-footer);
  width: 100%;
  padding: 2rem;
}